[tool.poetry]
name = "prosemirror-py"
version = "0.1.1"
description = "ProseMirror in Python"
readme = "README.md"
authors = ["Shen Li <shen@fellow.co>"]
license = "BSD-3-Clause"
packages = [{include = "prosemirror"}]

[tool.poetry.dependencies]
python = "^3.7"
pyicu = "^2.3"
typing-extensions = "^3.7"

[tool.poetry.dev-dependencies]
black = { version = "19.3-beta.0", allows-prereleases = true }
mypy = "^0.701.0"
pytest = "^4.6"
flake8 = "^3.7"
pydash = "^4.7"
pytest-cov = "^2.7"
pandoc = "^1.0"
isort = "^4.3"
codecov = "^2.0"
coverage = "^4.5"

[tool.black]
max-line-length=88

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
