[tool.poetry]
name = "prosemirror-py"
version = "0.1.3"
description = "Python implementation of core ProseMirror modules for collaborative editing"
readme = "README.md"
authors = ["Shen Li <shen@fellow.co>"]
license = "BSD-3-Clause"
packages = [{ include = "prosemirror" }]
homepage = "https://github.com/fellowinsights/prosemirror-py"
repository = "https://github.com/fellowinsights/prosemirror-py"
keywords = ["prosemirror", "collaborative", "editing"]

[tool.poetry.dependencies]
python = ">=3.6,<4"
pyicu = "^2.3"
typing-extensions = "^3.7"

[tool.poetry.dev-dependencies]
black = { version = "19.10b0", allows-prereleases = true, python = ">=3.6" }
mypy = "^0.761"
pytest = "^5.4"
flake8 = "^3.8"
pydash = "^4.7"
pytest-cov = "^2.9"
pandoc = "^1.0"
isort = "^4.3"
codecov = "^2.1"
coverage = "^5.1"

[tool.black]
max-line-length=88

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
