[tool.poetry]
name = "prosemirror"
version = "0.3.5"
description = "Python implementation of core ProseMirror modules for collaborative editing"
readme = "README.md"
authors = ["Shen Li <shen@fellow.co>"]
license = "BSD-3-Clause"
packages = [{ include = "prosemirror" }]
homepage = "https://github.com/fellowinsights/prosemirror-py"
repository = "https://github.com/fellowinsights/prosemirror-py"
keywords = ["prosemirror", "collaborative", "editing"]

[tool.poetry.dependencies]
python = ">=3.8.1,<4"
typing-extensions = "^4.4.0"
lxml = "^4.9.2"
cssselect = "^1.2.0"

[tool.poetry.group.dev.dependencies]
black = "^23.3.0"
codecov = "^2.1.13"
coverage = "^7.0.5"
flake8 = "^6.0.0"
isort = "^5.11.4"
lxml-stubs = "^0.4.0"
mypy = "^1.3.0"
pandoc = "^2.3"
pydash = "^7.0.3"
pytest = "^7.2.1"
pytest-cov = "^4.0.0"
ruff = ">=0.0.271,<0.0.282"

[tool.black]
max-line-length = 88

[tool.ruff]
select = [
    "E",
    "F",
    "W",
    "I",
    "RUF",
]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
